body { margin: 10px; padding: 0; background-color: white; color: black; }
body, table { font-family: Ubuntu, sans-serif; font-size: 10pt; line-height: 1.25em; }

h1 { font: 16pt/16pt bold Ubuntu, sans-serif; margin: 0 0 .5em; }
h2 { font: 14pt/20pt bold Ubuntu, sans-serif; }
a { color: #008; }
img { border: none; }

h1 small { margin-left: 1em; font: normal 10pt sans-serif; }
h1 small a { color: green; }

#header { border-bottom: solid 1px #ccc; }

div.field { margin: .5em 0 1em; }
div.field label { display: block; margin: .25em 0; }
div.field .text { width: 720px; padding: 4px 10px; border: solid 1px #ccc; }
div.field textarea { height: 200px; }

#issue .avatar { float: left; }
div.box { border: solid 1px #ccc; max-width: 700px; padding: 10px; margin: 0 0 1em; }
div.box p { margin: 0 0 .5em; }
div.box p:last-child { margin-bottom: 0; }

div.box, #addcomment form { margin-left: 54px; }

#addcomment h2 { padding: 1em 0 0 54px; }
div.comment { min-height: 26px; }

p.meta { color: gray; font-size: 80%; }
p.meta span { visibility: hidden; }
.box:hover p.meta span { visibility: visible; }

#issue { position: relative; }
#issue .labels { position: absolute; top: 0; left: 790px; list-style-type: none; margin: 0; padding: 0; font-size: 10pt; line-height: 1.5em; color: gray; }
#issue .labels a { color: green; }

table { border-collapse: collapse; width: 100%; line-height: 24px; }
table a { color: black; text-decoration: none; }
td, th { border-bottom: solid 1px #ccc; padding: 2px 4px; vertical-align: middle; }
thead th, tfoot th { color: gray; font-weight: normal; }
table .id { text-align: right; }
table .summary { text-align: left; width: 100%; }
table .summary a:first-child { margin-right: 1em; }
table .summary .label { font-size: 10pt; color: green; }
tbody tr:hover { background-color: #eee; }
tbody tr:hover .id a, table tr:hover .summary a:first-child { color: #008; text-decoration: underline; }
table .owner { text-align: center; }
table .comments { text-align: right; }
table .date { text-align: left; }


#cells { width: 100%; }
#cells h2 { font-size: 10pt; line-height: 1em; margin: 0.5em 0; }
#cells h2 a { color: inherit; font-weight: bold; }
#cells h2 a.a { color: green; font-weight: normal; margin-left: 1em; }

.cell { width: 45%; height: 250px; float: left; }
.cell ul { margin: 0; padding: 0; list-style-type: none; padding-bottom: 1em; }
.cell li { line-height: 1.5em; }

/*
.cell ul { height: 7em; overflow: hidden; }
*/

#pri1 li a { color: red; }
#pri2 li a { color: orange; }
#pri3 li a { color: green; }
#pri4 li a { color: gray; }

#pri3 .cell, #pri4 .cell { height: auto; }
